 /* Style for input boxes */
 textarea {
    width: 300px;
    height: 500px;
    resize: none; /* Disable textarea resizing */
    text-align: left; /* Align text to the left */
    vertical-align: top; /* Align text at the top of the input */
    display: block; /* Display input as block element */
    margin-bottom: 10px; /* Add some spacing between input boxes */
}


 /* Dark theme styles */
 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #292b2c;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h1, h2 {
    margin-bottom: 20px;
}

/* Style for input boxes */
textarea {
    width: 300px;
    height: 500px;
    resize: none;
    text-align: left;
    vertical-align: top;
    display: block;
    margin-bottom: 10px;
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
    padding: 10px;
    font-family: Arial, sans-serif;
}

/* Style for buttons */
button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #ac0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0000;
}

/* Day Selector Buttons */
.day-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.day-buttons button {
    background-color: #444;
    border: 1px solid #555;
}

/* Save Button */
.save-button {
    margin-top: 10px;
}

#selectedCancellationDayLabel {
font-size: 24px;


}