.button {
    --clr: #000;
    --outline: 2px solid white;
     border: 1px solid var(--clr);
    background: var(--clr);
    padding: 6px 32px;
    text-align: left;
    font-size: 16px;
    margin: 4px 2px;
    transition: outline-offset 200ms ease;
    cursor: pointer;
    color: white;
    border: 1.5px solid #555555;
  }
  
    .button:hover,
    .button:focus{
    outline: var(--outline);
    outline-offset: -6px;
      color: white;
    
  }
  
  
  .button5 {width: 99.5%;}
  .button-7row {width: 13.9%;}
    .button-2row {width: 49.4%;}
    .button-3row {width: 32.7%;}
    .button-4row {width: 24.3%;}
    .button-5row {width: 19.34%;}
    
      
    @media screen and (max-width: 480px) {
      .button {width: 95%;}

      
      }

      .button-florida {
        background-color: #000000;
        color: white;
        padding: 12px 32px;
        width: 47.2%;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border: 2px solid #555555;
      }
      .button-florida:hover {
        background-color: #f06318;
        color: white;
      }
      
      @media screen and (max-width: 480px) {
          .button-florida {
       
        width: 95%;
       
      }}
    