#notification-area {
    position:fixed;
    top:-20px;
    left:10px;
    
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
  }
  #notification-area .notification {
    position:relative;
    padding:15px 45px;
    background:#111;
    color:#f5f5f5;
    
    font-size:14px;
    font-weight:600;
    border-radius:5px;
    margin:5px 0px;
    opacity:0;
    left:200px;
    animation:showNotification 500ms ease-in-out forwards;
  }
  @keyframes showNotification {
    to {
      opacity:1;
      left:0px;
    }
  }
  #notification-area .notification.success {
    background:#bd0000;
  }

  .fa-icon {
    position: relative;
    overflow: hidden;
  }
  
  .fa-icon i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
            }

            .button,
.fa-icon,
.notification {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 8px;
}

.container-menu {
 
  margin: -5px auto;
  max-width: 1150px;
  }

.container {
 
margin: 25px auto;
max-width: 1150px;
}
body, .main-wrapper {background-color: #121212; user-select: none; font-family: Arial, sans-serif;}


.hidden {
  display: none;
}

.topbar {
      position: fixed;
      top: 0;
    }
    
    .btn {
      border: 1px solid rgb(31, 7, 7);
      outline: none;
      padding: 7px 10px;
      background-color: #411;
      color: white;
      cursor: pointer;
      font-size: 18px;
      border-radius: 7px;
    }
    
    .active,
    .btn:hover {
      background-color: #bd0000;
      color: white;
    }
    
    @media screen and (max-width: 480px) {
      .btn {
        padding: 10px 11px;
        font-size: 13px;
        width: 23%;
      }
    }

   
    .everydayfree {
      position: relative;
    }
  
    .everydayfree::after {
      content: "Everyday/Free Delivery";
      font-size: 0.8em;
     
      top: -1.1em;
      left: 30em;
      color: #75b6ff;
    }
    
     @media only screen and (max-width: 600px) {
          .everydayfree::after {
      font-size: 0.7em;
      position: absolute;
      top: -1.0em;
      left: 2em;
    }
      }
    
    .daylong {
      position: relative;
    }
  
    .daylong::after {
      content: "Everyday/Long Route";
      font-size: 0.8em;
     
      top: -1.1em;
      left: 2em;
      color: #ff7575;
    }
    
     @media only screen and (max-width: 600px) {
          .daylong::after {
      font-size: 0.7em;
      position: absolute;
      top: -1.3em;
      left: 2em;
    }
      }
    
    
    
    .portsmouthr {
      position: relative;
    }
  
    .portsmouthr::after {
      content: "Tuesday and Friday";
      font-size: 0.8em;
    
      top: -1.1em;
      left: 2em;
      color: #75ff87;
    }
    
     @media only screen and (max-width: 600px) {
          .portsmouthr::after {
      font-size: 0.7em;
      position: absolute;
      top: -1.3em;
      left: 2em;
    }
      }
    
    .cornwallr {
      position: relative;
    }
  
    .cornwallr::after {
      content: "Thursday and Sunday";
      font-size: 0.8em;
      
      top: -1.1em;
      left: 2em;
      color: #75ff87;
    }
    
     @media only screen and (max-width: 600px) {
          .cornwallr::after {
      font-size: 0.7em;
      position: absolute;
      top: -1.3em;
      left: 2em;
    }
      }
  
      .aberdeenr {
      position: relative;
    }
  
    .aberdeenr::after {
      content: "Wednesday and Saturday";
      font-size: 0.8em;
     
      top: -1.1em;
      left: 2em;
      color: #75ff87;
    }
    
     @media only screen and (max-width: 600px) {
          .aberdeenr::after {
      font-size: 0.7em;
      position: absolute;
      top: -1.3em;
      left: 2em;
    }
      }
    
       .Invernessr {
      position: relative;
    }
  
    .Invernessr::after {
      content: "Wed & Sat /20 Extra from LDR";
      font-size: 0.8em;
     
      top: -1.1em;
      left: 2em;
      color: #ff2414;
    }
    
    
     @media only screen and (max-width: 600px) {
          .Invernessr::after {
      font-size: 0.7em;
      position: absolute;
      top: -1.3em;
      left: 2em;
    }
      }


      #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
        cursor: pointer;
      }
    
      #myTable th,
      #myTable td {
        color: #ebebeb;
        text-align: left;
        padding: 12px;
        border-right: 1px solid #ddd; /* Add border between columns */
      }
    
      #myTable td:last-child {
        border-right: none; /* Remove border on last column */
      }
    
      #myTable tr {
        border-bottom: 1px solid #ddd;
        background-color: #121212;
      }
    
      .selected {
        background-color: black;
        font-weight: bold;
        color: #fff;
        outline: 3px solid red;
        outline-offset: -2px;
      }
    
      #myTable tr:hover {
        background-color: black;
      }
    
      #myTable tr.header {
        background-color: black;
      }
    
      .trboard {
        outline: 3px solid white;
        outline-offset: -3px;
        font-weight: bold;
      }
    
      #myInput {
        background-image:url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1685751275/search_eeh8e2.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-color: #121212;
        color: white;
        width: 90%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        position: fixed;
        top: 1%;
        left: 2.5%;
        z-index: 9999;
      }

      @media only screen and (max-width: 600px) {
  #myInput {
    width: 81%;

    font-size: 19px;
    padding: 12px 20px 12px 40px;

    top: auto;
    left: auto;
    margin-bottom: -15px;
    z-index: initial;
  }
}

  
      /* Adjust the height and width of the second column */
    #myTable td:nth-child(2),
    #myTable th:nth-child(2) {
      width: 300px; /* Set the desired width */
      height: 35px; /* Set the desired height */
    }
    
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
    
    .heading-top {
      color: white;
      display: flex;
      justify-content: center;
      font-family: Arial, sans-serif;
      font-size: 18px;
      padding: 2px;
      border-radius: 5px;
      pointer-events: none;
      user-select: none;
    }