
.button-florida {
    background-color: #000000;
    color: white;
    padding: 12px 32px;
    width: 49%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
  }
  
  .btn-florida-100 {
    width: 99%;
  }
  
  .button-florida:hover {
    background-color: #bd0000;
    color: white;
  }
  
  @media screen and (max-width: 480px) {
    .button-florida {
      width: 95%;
    }
  }
  
  .button {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 12px 32px;
    width: 19%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -8px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

  .bed-gn {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1685648029/florida_ameer_2_2_gsz5oi.png') no-repeat right center/contain;
    border: 3px solid #00640F;
  }

  .base-gn {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1685648223/88c38cf0-c003-48b3-b634-e7c8642f92f6_nnwhrl.png') no-repeat right center/contain;
    border: 3px solid #00640F;
  }


  .ottoman {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1685648664/0_q229h3.png') no-repeat right center/contain;
    border: 3px solid #00640F;
  }

  .ottoman-frame {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1685581331/image-removebg-preview_1_hb59u9.png') no-repeat right center/contain;
    border: 3px solid #00640F;
  }

      .fullbed {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1680470401/alexis-ottoman-faux-leather-white-large-removebg-preview_tntdmg.ico') no-repeat right center/contain;
    border: 3px solid #00640F;
  }
     
      .base7 {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1680471718/zqf5bMnsSsiHHAijAtet1-transformed__1_-removebg-preview_mkvqra.ico') no-repeat right center/contain;
    border: 3px solid #570000;
  }
     
         .mattress5 {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1680471482/Mattress-PNG-File_iulcud.ico') no-repeat right center/contain;
    border: 3px solid #740080;
  }
     
       .bed2drawer {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1680473098/reinforced-base-angle-drawers-open_1024x1024_2x-removebg-preview_1_von9hj.ico') no-repeat right center/contain;
    border: 3px solid #3E0EAC;
  }
     
     .bed4drawer {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1680475086/clempton-custom-timber-4-drawers-storage-bed-base-removebg-preview_dhwl31.ico') no-repeat right center/contain;
    border: 3px solid #A24500;
  }
     
     .headboardonly {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1680476283/ziggy-base-divan-bed-removebg-preview_l9ulti.ico') no-repeat right center/contain;
    border: 3px solid #6D8300;
  }
      .base2draw {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1680473600/drawers_1_dgv8p4.ico') no-repeat right center/contain;
    border: 3px solid #004280;
  }
     
     .base4draw {
    position: relative;
    padding-right: 40px;
    background: url('https://res.cloudinary.com/dc1q32wzt/image/upload/v1680473526/drawers_2_qqhakh.ico') no-repeat right center/contain;
    border: 3px solid #806A00;
  }
  
  
  .button5 {
    background-color: #000000;
    color: white;
  
  }
  
  .button:hover {
    background-color: #bd0000;
    color: white;
  }
  
  .button8wales {
    background-color: #2b0000;
    color: white;
  }

  .b-border {
    border: 2px solid #aaaaaa;
  }
  
  .button8wales:hover {
    background-color: #E40000;
    color: white;
  }
  
  .button8sea {
    background-color: #012611;
    color: white;
    border: 2px solid #555555;
  }
  
  .button8sea:hover {
    background-color: #00e422;
    color: white;
  }
  
  @media screen and (max-width: 480px) {
    .button {
      width: 99%;
      margin: 5px 2px;
    }
  }
  
  .buttonmattress {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    width: 95%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button5greym {
    background-color: #007522;
    color: white;
    border: 2px solid #555555;
  }
  
  .button5greym:hover {
    background-color: #bd0000;
    color: white;
  }
  
  .heading-top {
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 2px;
    border-radius: 5px;
    pointer-events: none;
    user-select: none;
  }